<table class  ="table table-hover table-inverse">
	<thead>
		<tr></tr>
		  <th>Image</th>
		  <th>Name</th>
		  <th colspan="4"></th>
	</thead>

	<tbody>
	  <% @user.followings.each do |user| %>
		<tr>
		  <td>
			  <%= link_to "",user_path %>
			  <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg" %>
		  </td>
		  <td><%= user.name %></td>
	  	  <td>follow：<%= @user.followings.count %></td>
		  <td>follower：<%= user.followers.count %></td>

		   <td><% unless user.id == current_user.id %>
				<%if @relationship.empty? %>
			      <%= button_to "フォローする", relationships_path({follow_id: user.id}),method: :post %>
				<% else %>
				  <%= button_to "フォロー外す", relationship_path({follow_id: user.id}), method: :delete %>
				<% end %>
			  <% end %>
		  </td>

		  <td><%= link_to 'Show', user_path(user) %></td>

		</tr>

	  <% end %>
	</tbody>
</table>