<div class= "body">
	<div class = "container">
		<div class="row">
			<div class="col-xs-3">

			<h2>User info</h2>
<% if @user.errors.any? %>
	<h3><%= pluralize(@user.errors.count,"error") %>prohibited this product from being saved:</h3><!--エラーメッセ-->
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>
		<%= render 'users/profile', user: @user %>
		<!--同コントローラーのviewで表示ならusersは省略可 -->

			<h2>New book</h2>
		<%= render 'books/newform', book: @book %>

			</div>

			<div class="col-xs-9">

			<h2>Books</h2>
		<!--books一覧 -->
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<% @books.each do |book| %>
					<tr>
						<td>
							<%= link_to "",user_path %>
							<%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg" %>
						</td>
						<td><%= link_to book.title, book_path(book), class: "book_#{book.id}" %></td>
						<td><%= book.body %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
		<!--books一覧 -->
<div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-11">
		<% if current_user == @user %>
		<h2>Your Map</h2>
		<div id="map"></div>

		<style>
			#map{
				height: 600px;
			}
		</style>

		<script>
	var map;
	// varで定数を宣言する

  function initMap(){
	var lat_lng ={ lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
	// functionでマップの機能を定義

  map = new google.maps.Map(document.getElementById('map'), {
    center: lat_lng,
    zoom: 12,
  });
  // map = new google.maps.Mapで地図の詳細を定義
  // getElementByIdでmapの表示させる場所を指定(div id=map)

  //positionに指定した座標にピンを表示
  marker = new google.maps.Marker({
    position: lat_lng,
    map: map
  });
}

//       map = new google.maps.Map(document.getElementById('map'), { 
//         center: { // 地図の中心を指定
//             lat: 34.7019399, // 緯度
//             lng: 135.51002519999997 // 経度
//         },
//         zoom: 19
//     });
// }

	</script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap", async: true, defer: true)) ></script>
</div>
<% end %>

