<div class = "body">
	<div class = "container">
		<div class="row">
			<div class="col-xs-3">

			<h2>User info</h2>
			<%= render 'users/profile', user: @book2.user %>

			<h2>New book</h2>
			<%= render 'books/newform', book: @book %>

			</div>

			<div class="col-xs-9">
			  <h2>Book detail</h2>
		  <!--投稿内容表示-->
			  <table class="table">
			  	<tr class = "book_<%= @book.id %>">
					<%= render 'book', book: @book2 %>
				</tr>
			  </table>
		  <!--非同期処理表示コメント-->
			  <table class = "show-tb comment_<%= @book.book_comments %>">
			  	<%= render 'comment',book_comments: @book.book_comments %>
			  </table>
			<!--非同期処理フォーム-->
				<div class="comment-form">
			        <%= form_with model:[@book2, @book_comment], data: {remote: true} do |f| %>
			          <%= f.text_area :comment %>
			          <%= f.submit '送信' %>
			        <% end %>
			    </div>
			</div>
		</div>
	</div>
</div>

